<!DOCTYPE html>
<html>
  <head>
    <title>Ratebeer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if not session[:user_id].nil? %>
      <p><%= User.find(session[:user_id]).username %> signed in</p>
    <% end %>

    <%= yield %>
  </body>
</html>
